body{
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    -webkit-overflow-scrolling:touch;
    font-size: 0.32rem;
}

body,ul,li{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    -webkit-tap-highlight-color: transparent;
    background:transparent;
}
a{
    text-decoration:none;

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}